.fighter-preview___img {
  height: 40vh;
  margin-bottom: 10px;
}

.fighter-preview___right .fighter-preview___img {
  align-items: flex-end;
  transform: scaleX(-1);
}

.fighter-preview__chars-container {
  border: 5px solid #ca9650;
  background-color: #ffdfa7;
}

.fighter-preview__char-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.fighter-preview__char {
  margin-bottom: 5px;
}

.fighter-preview__char__name::first-letter {
  text-transform: uppercase;
}
